body {
  background-color: #FEF9EF !important;
}

.search-bar {
  position: relative;
  border-radius: 5px;
  width: 100%;
}

.list-list {
  height: 75vh;
  overflow: auto;
}

.list-select {
  min-width: 100px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.img-card {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.img-card:hover {
  z-index: 2;
}

.place-ranking {
  color: grey !important;
}